<div class="row">
    <div class="col-md-12" align="center">
        <div class="page-header">
            <h1>Projects<small> Stuff we did or are doing!</small></h1>
                <button class="btn btn-large btn-primary expand" type="button">Music</button>
                <button class="btn btn-large btn-primary expand" type="button">Art</button>
                <button class="btn btn-large btn-primary expand" type="button">Technology</button>
        </div>
    </div>
    <ul class="thumbnails">
        <div class="col-md-3" ng-repeat="project in projects" style="padding:30px">
            <div class="thumbnail expand">
                <img src="http://thebestchapter.files.wordpress.com/2012/03/albert_einstein_1947_square_cropped.jpg" alt="300x200" style="">
                <div class="caption">
                    <h3>{{project.name}}</h3>
                    <p>Info about the project</p>
                </div>
            </div>
        </div>
    </ul>

</div>
