<div class="row">
    <div class="col-md-12">
        <div class="page-header" align="center">
            <h1>Services <small> What we do!</small></h1>
        </div>
    </div>
    <ul class="thumbnails">
        <div class="col-md-3 col-lg-offset-1" style="padding:30px">
            <div class="thumbnail expand">
                <img src="http://thebestchapter.files.wordpress.com/2012/03/albert_einstein_1947_square_cropped.jpg" alt="300x200" style="">
                <div class="caption">
                    <h3>{{project.name}}</h3>
                    <p>Info about the project</p>
                    <a href={{project.id}}>LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding:30px">
            <div class="thumbnail expand">
                <img src="http://thebestchapter.files.wordpress.com/2012/03/albert_einstein_1947_square_cropped.jpg" alt="300x200" style="">
                <div class="caption">
                    <h3>{{project.name}}</h3>
                    <p>Info about the project</p>
                    <a href={{project.id}}>LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding:30px">
            <div class="thumbnail expand">
                <img src="http://thebestchapter.files.wordpress.com/2012/03/albert_einstein_1947_square_cropped.jpg" alt="300x200" style="">
                <div class="caption">
                    <h3>{{project.name}}</h3>
                    <p>Info about the project</p>
                    <a href={{project.id}}>LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-offset-1" style="padding:30px">
            <div class="thumbnail expand">
                <img src="http://thebestchapter.files.wordpress.com/2012/03/albert_einstein_1947_square_cropped.jpg" alt="300x200" style="">
                <div class="caption">
                    <h3>{{project.name}}</h3>
                    <p>Info about the project</p>
                    <a href={{project.id}}>LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding:30px">
            <div class="thumbnail expand">
                <img src="http://thebestchapter.files.wordpress.com/2012/03/albert_einstein_1947_square_cropped.jpg" alt="300x200" style="">
                <div class="caption">
                    <h3>{{project.name}}</h3>
                    <p>Info about the project</p>
                    <a href={{project.id}}>LEARN MORE</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding:30px">
            <div class="thumbnail expand">
                <img src="http://thebestchapter.files.wordpress.com/2012/03/albert_einstein_1947_square_cropped.jpg" alt="300x200" style="">
                <div class="caption">
                    <h3>{{project.name}}</h3>
                    <p>Info about the project</p>
                    <a href={{project.id}}>LEARN MORE</a>
                </div>
            </div>
        </div>
    </ul>
</div>