.view-animate-container {
    position:relative;
    height:1000px!important;
    position:relative;
    background:white;
    height:40px;

}

.view-animate {
    padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

    display:block;
    width:100%;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
    overflow:hidden;
}

.view-animate.ng-enter {
    left:100%;
}
.view-animate.ng-enter.ng-enter-active {
    left:0;
}
.view-animate.ng-leave.ng-leave-active {
    left:-100%;
    opacity:0;
}












.logoexpand {
    transition: all 250ms cubic-bezier(0.280, -0.315, 0.685, 1.390);
}
.logoexpand:hover {
    color: #fff;
    -webkit-transform:scale(1.2)
}

.expand {
    transition: all 250ms cubic-bezier(0.280, -0.315, 0.685, 1.390);
}
.expand:hover {
    -webkit-transform:scale(1.2)
}

ul.nav a:hover { color: #fff !important; }

li {
}

.tilt {
    transition: all 250ms cubic-bezier(0.280, -0.315, 0.685, 1.390);
}
.tilt:hover {
    -moz-transform: rotate(-25deg); -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg); -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
